.protein-details-main {
  position: relative;
  min-height: 6.25rem;
  border-top-width: 1px;
  border-color: rgba(57, 69, 80, 1);
}

.protein-details-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 35.625rem;
  padding-top: 1.25rem;
}

.protein-details-head {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.35;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
  color: rgba(114, 124, 136, 1);
}

.protein-details-title {
  font-size: 24px;
  line-height: 1.16666667;
  font-weight: 400;
  color: rgba(245, 245, 245, 1);
}

.protein-details-link {
  position: relative;
  flex-shrink: 0;
  display: inline-block;
  bottom: 0.1875rem;
  margin-left: -0.125rem;
}
