.protein-list-arrow {
  position: absolute;
  left: -1.75rem;
  top: -0.1875rem;
  color: rgba(245, 245, 245, 1);
}

.protein-list-column-identifier {
  width: 20%;
}

.protein-list-column-gene {
  width: 60%;
}

.protein-list-column-panels {
  vertical-align: middle;
  width: 20%;
}
