.table tr td {
  padding-bottom: 0.1875rem;
  padding-top: 0.75rem;
  transition: padding 0.3s ease;
}

.table {
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  table-layout: auto;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 14, 25, 1);
}

.table-head {
  font-size: 12px;
  font-weight: 500;
  text-align: left;
  color: rgba(114, 124, 136, 1);
  padding-bottom: 0.25rem;
  border-bottom-width: 1px;
  border-color: rgba(57, 69, 80, 1);
}

.table-row-is-highlighted {
  background-color: rgba(28, 44, 55, 1);
}

.table-row-has-expanded-protein-details {
  padding-top: 1rem;
  padding-bottom: 0px;
}
